{% extends "base.html" %}
{% load functionTag %}
{% block topAd %}
 <img src="/static/img/banner_download.jpg" width="930" height="235" />
{% endblock %}

{% block main %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="193" align="left" valign="top">
          {% display_download_category_widget %}
          </td>
          <td width="470" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><b>{{catname}}</b></td>
            </tr>
            <tr>
              <td background="/static/img/dot_white.gif"><img src="/static/img/blank.gif" width="1" height="1" /></td>
            </tr>
            <tr>
              <td class="content">
              {%for item in downloads%}
              <p>
                {{item.content|safe}}
              </p>
              <p>
                 <a href="{{item.downloadurl}}">下载: {{item.title}}</a> 
              </p>
              {%endfor%}
              </td>
            </tr>
            
          </table></td>
          <td align="right" valign="top" class="ourproducts">
             {% display_products_widget %}
          </td>
        </tr>
    </table> 
{% endblock %}