{% extends "base.html" %}
{% load functionTag %}
{% block topAd %}
    <img src="/static/img/faq/banner01.jpg" width="310" height="235" /><img src="/static/img/faq/banner02.jpg" width="297" height="235" /><img src="/static/img/faq/banner03.jpg" width="321" height="235" /></td>
{% endblock %}

{% block main %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td width="193" align="left" valign="top">
           <table width="146" border="0" cellspacing="0" cellpadding="0" class="menu_left">
			  <tr>
			    <td style="border-bottom:1px dotted #ccc;font-size:14px;"><b>News</b></td>
			  </tr>
			 
			  <tr>
			    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td width="18"><img src="/static/img/narrow01.gif" width="18" height="20" /></td>
			         <td><a href="/news/">新闻列表</a></td>
			      </tr>
			    </table></td>
			  </tr>
			 
		  </table>
       </td>
       
       <td width="470" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                {{news.title}}
            </td>
        </tr>
         <tr>
           <td class="content">            
             <p><span class="arial_18_gray_blod">{{item.title}}</span><br />
               <pre>{{news.content|safe}} </pre>
             </p>             
           </td>
         </tr>         
       </table>
       </td>
      
       <td align="right" valign="top" class="ourproducts">
        {% display_products_widget %}
       </td>
       
     </tr>
</table>
{% endblock %}